doctype html
html(lang="en")
    head
        title BGG - Home
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
        link(rel="stylesheet", href="bgg-home.css")
    body
        .root-container
            header
                .top-nav
                    .page-container
                        .clear-login
                            .brand
                                span Board
                                span Game
                                span.geek Geek
                            .search-form
                                input.form-control(placeholder="search")
                                button.btn.btn-primary.btn-small go
                            .login-form
                                .top-anchor
                                    .row
                                        input.form-control.username(placeholder="username")
                                        button.btn.btn-primary.btn-small sign in
                                    .row
                                        input.form-control.password(type="password", placeholder="password")
                                        button.btn.btn-default.btn-small register
                nav
                    .page-container
                        ul
                            each label in navigation.items
                                li
                                    a(href='#')
                                        span.highlight &nbsp;
                                        span.label= label
            main
                .hero-container
                    .page-container
                        .carousel
                            .controls
                                each _ in carousel.controls
                                    .item
                                        .control
                            .arrow.left
                            .arrow.right
                            .content
                                .geek-award
                                    .details
                                        .header
                                            .pre= carousel.geekAward.header.pre
                                            .main= carousel.geekAward.header.main
                                            .post= carousel.geekAward.header.post
                                        .context
                                            p!= carousel.geekAward.context
                                        .call-to-action
                                            a(href=carousel.geekAward.cta.href)
                                                span= carousel.geekAward.cta.label
                                    .icon
                                        .text
                                            .pre= carousel.geekAward.icon.pre
                                            .main= carousel.geekAward.icon.main
                                            .post= carousel.geekAward.icon.post
                                            .subtext= carousel.geekAward.icon.subtext
                section.list-container
                    .page-container
                        .columns
                            each column in columns
                                if column.type == "forum"
                                    .column-container
                                        .column
                                            .title !{column.title}
                                            ul.content
                                                each item in column.items
                                                    li.item
                                                        a.title(href=item.href) !{item.linkableTitle}
                                                        |  !{item.title}
                                                        .sub-text= item.subText
                                if column.type == "lists"
                                    .column-container
                                        .column
                                            .title !{column.title}
                                            .content
                                                .subtitle
                                                    each list in column.lists
                                                        - var classes = ""
                                                        if list.active
                                                            - classes = "active"
                                                        .subitem(class=classes)
                                                            a(href="#") !{list.name}
                                                ul.list-content
                                                    each list in column.lists
                                                        if list.active
                                                            each item in list.items
                                                                li !{item}
                section.hotness-container
                    .page-container
                        .button-row
                            a.button(href="#")
                                strong featured
                                | games
                        .game-carousel-row
                            .border.top
                            .game-carousel
                                each game in featuredGames
                                    .item
                                        img.game-image(src=game.icon.large)
                            .border.bottom
                            each game in featuredGames
                                if game.active
                                    .active-game
                                        .row.name= game.name
                                        .row.description= game.description
                                        .row.stats
                                            .stat
                                                .value= game.geekRating
                                                .label Geek Rating
                                            .stat
                                                .value= game.averageRating
                                                .label Average Rating
                                            .stat
                                                .value= game.voters
                                                .label Voters
            footer
                .page-container
                    .columns
                        .column.about
                            .title About Us
                            .content= footer.about
                        .column.nav
                            .title Navigation
                            ul.links
                                each item in footer.nav
                                    li: a(href=item.href)= item.label
                        .column.contact
                            .title Contact
                            .number= footer.contact.number
                            .email
                                a(href=footer.contact.email.target)= footer.contact.email.label
                .copyright
                    .page-container
                        p!= footer.copyright
                        